/*------------------------------------
	# HIDE-TEXT

	Hide-text is an image replacement mixin. It is based off the HTML5-Boilerplate image-replacement.
*/

@mixin hide-text($include: extend) {
	@if $include != "extend" {
		color: transparent;
		font: 0/0 a;
		text-shadow: none;
	}
	@else {
		@extend %hide-text;
	}
}

%hide-text {
	@include hide-text(include);
}