/*------------------------------------
	LINK
*/

@mixin link ( $include: extend, $link-color: map-get( $color, link ) ) {
	@if $include != "extend" {
		color: $link-color;
		cursor: pointer;
		&:hover {
			color: lighten($link-color, 20%);
		}
		&:visited {
			color: desaturate($link-color, 10%);
		}
		&:active {
			color: $link-color;
		}
	}
	@else {
		@extend %link;
	}
}

%link {
	@include link(include);
}