/*------------------------------------
	BACKGROUND
*/

@mixin background-color (
$background-color: transparent
) {
	background-color: $background-color;
	@if $background-color != transparent {
		$lightness: lightness($background-color);
		@if $lightness < 60 {
			color: white;
			a, a:visited {
				color: white;
			}
		}
	}
}
