@mixin field (
$width:auto
) {
	@include border-box();
	@include display(inline-block);
	@include padding(0 ($base-space/2));
	color:map-get($color, text);
	background:$field-bg;
	line-height: $touch-target/2;
	max-width:100%;
	min-height: $touch-target*1.1;
	width: 100%;

	@include screen-size( sm-min )
	{
		width:$width;
	}

	@if $field-font-family {
		font-family: $field-font-family;
	}

	// Border Settings
	@if $has-field-border == yes {
		border: 1px solid $field-border;
	}
	@else {
		border: 1px solid $field-bg;
	}
}
